force-app/main/default/flows/Credit_Line_Increase_Template_My_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Credit Line Increase Template My Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Line Increase Template My Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>855</locationX>
        <locationY>49</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Request_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Credit Increase Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Credit Increase Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>telearndaypkg__Additional_Notes__c</field>
            <value>
                <elementReference>additionalNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>telearndaypkg__Financial_Account__c</field>
            <value>
                <elementReference>selectedFinAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>telearndaypkg__Income__c</field>
            <value>
                <elementReference>Current_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>telearndaypkg__Increase_Amount__c</field>
            <value>
                <elementReference>increaseAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountLookup</name>
        <label>GetAccountLookup</label>
        <locationX>150</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Customer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>705</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>telearndaypkg__Credit_Rating__c</field>
            <value>
                <elementReference>creditRating</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Increase_Request</name>
        <label>Increase Request</label>
        <locationX>405</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCreditRating</targetReference>
        </connector>
        <fields>
            <name>Msg1</name>
            <fieldText>&lt;span style=&quot;font-size:1.5em&quot;&gt;Please Collect Request Information&lt;/span&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditCardPicker</name>
            <extensionName>telearndaypkg:FinancialAccountPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFinancialAccount</name>
                <value>
                    <elementReference>selectedFinAccount</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedFinAccount</assignToReference>
                <name>selectedFinancialAccount</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Current_Income</name>
            <dataType>Currency</dataType>
            <fieldText>Current Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>AmountSlider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Increase Amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>increaseAmount</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>increaseAmount</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RichTextComponent</name>
            <extensionName>c:RichTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>myComments</name>
                <value>
                    <elementReference>additionalNotes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theLabel</name>
                <value>
                    <stringValue>additional notes</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>additionalNotes</assignToReference>
                <name>myComments</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Submitted</name>
        <label>Request Submitted</label>
        <locationX>855</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RequestSubmitted</name>
            <fieldText>Your Credit Request has been submitted, it will be processed shortly.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Customer</name>
        <label>Verify Customer Details</label>
        <locationX>285</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Increase_Request</targetReference>
        </connector>
        <fields>
            <name>AccountHeader</name>
            <fieldText>&lt;span style=&quot;font-size:2em&quot;&gt;{!account.Name}&lt;/span&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addressComponent</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>account.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>account.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>account.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>account.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>account.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account.BillingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>account.BillingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>account.BillingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>account.BillingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>account.BillingState</assignToReference>
                <name>province</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetAccountLookup</startElementReference>
    <status>Active</status>
    <subflows>
        <name>GetCreditRating</name>
        <label>GetCreditRating</label>
        <locationX>554</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <flowName>telearndaypkg__getCreditRating</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>creditRating</assignToReference>
            <name>creditRating</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>additionalNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>{!increaseAmount}</description>
        <name>increaseAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>500.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>{!recordId}</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedFinAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
